.blog{
    font-size: 30px;
    font-weight: 900;
}
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional backdrop */
    z-index: 1000;
    /* Ensure it overlays other content */
}
